---
import LogBTN from "./LogBTN.astro";;

const { title, artist, cover, id } = Astro.props;
---

<div class="card listenalbum-card h-100">
  <div class="listenalbum-card__image">
    <img
      src={cover}
      alt={`${title} album cover`}
      onerror="this.onerror=null; this.src='/altrecord.jpeg';"
    />

    <LogBTN id={`listen-${id}`} />
  </div>

  <div class="listenalbum-card__meta">
    <h5 class="listenalbum-card__title">{title}</h5>
    <p class="listenalbum-card__artist">{artist}</p>
  </div>
</div>
