---
import LogBTN from "./logBTN.astro";

const {
  title,
  artist,
  cover,
  id,
} = Astro.props;
---

<div class="album-card">
  <div class="album-cover">
    <img src={cover} alt={`${title} album cover`} />

    <!-- LOG BUTTON -->
    <LogBTN id={`log-${id}`} />
  </div>

  <div class="album-meta">
    <div class="album-title">{title}</div>
    <div class="album-artist">{artist}</div>
  </div>
</article>